<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Cooper Rondo", "https://www.google.com/search?q=Cooper+Rondinelli&oq=Cooper+Rondinelli&aqs=chrome..69i57j69i61l3.5471j0j1&sourceid=chrome&ie=UTF-8", class: "text-white" %></small>
  </div>
</footer>